<div class="container">
    <h2 class="page-title">Our users</h2>
    <div class="row">
        {{#each users}}
        <div class="col-xl-3 col-lg-4 col-md-5  mb-5 mt-5 ">
            <!--<div class="card" style="width: 18rem;">
                <a href="/users/{{id}}" class="btn btn-primary"><img src="{{profilePic}}" class="card-img-top"
                        alt="{{username}} profile picture"></a>
                <div class="card-body">
                    <h5 class="card-title">{{username}}</h5>
                    <p class="card-text">{{role}}</p>
                    <a href="/users/{{id}}" class="btn btn-primary">Check profile</a>
                </div> -->
            <div class="card">
                <div class="card-image"><a href="/users/{{id}}"><img src="{{profilePic}}" class="card-img-top"
                            alt="{{username}} profile picture"></a> </div>
                <div class="category"> {{role}} </div>
                <div class="heading"> {{username}}
                    <div class="author"> <span class="name"><a class="a-button" href="/users/{{id}}"> View Info
                            </a> </span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}


        {{#if errorMessage}}
        <div id="errorMessageUsers">
            <p id="errorMessageUsersP">{{errorMessage}}</p>
            <a href="/users/login" class="d-button">Log in</a>
            <a href="/users/signup" class="e-button">Sign up</a>


        </div>
        {{/if}}
    </div>
</div>