<div class="container">
    <div class="card mb-5 mt-3 mx-auto" style="width: 32rem; height: 38rem">
        <img src="{{driver.profilePic}}" class="card-img-top" alt="{{driver.username}} profile picture">
        <div class="card-body">
            <h5 class="card-title">Ratings for {{driver.username}}</h5>
            <p class="card-text">Average rating: {{avgRating}} / 5.00</p>
        </div>
    </div>

    {{#each driver.ratingArr}}
    <div class="card mb-2 mx-auto" id="commentCard" style="width: 32rem; height: 6rem">
        <div class="card-body">
            <h5 class="card-title">{{judge.username}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Rating: {{score}} / 5</h6>
            <p class="card-text">Review: {{comment}}</p>
        </div>
    </div>
    {{/each}}
</div>