<div class="container">
    <h2 class="page-title">Details for {{trip.destination.address}}</h2>
    <div class="row">
        <div class="col-3 mb-5 mt-5">
            <div class="card" style="width: 18rem;">
                <img src="{{trip.profilePic}}" class="card-img-top" alt="{{trip.username}} profile picture">
                <div class="card-body">
                    <h5 class="card-title">from :{{trip.origin.address}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Details:{{trip.description}}</h6>
                    <p class="card-text">Date of the trip: {{trip.date}}</p>
                    <p class="card-text">Avalaible seats: {{trip.numberOfPassengers}}</p>
                    <p class="card-text">Can i smoke? {{trip.smokingAllowed}}</p>
                    <a href="/trips/{{trip.id}}/edit" class="btn btn-warning">Edit</a>
                    <a href="/trips" class="btn btn-primary">Volver a lista</a>
                </div>
            </div>
        </div>
    </div>
</div>