<div class="container">
    <h2 class="page-title">Our travels</h2>
    <div class="row">
        {{#each trips}}

        {{#if owner}}

        {{!-- <div class="col-xl-3 col-lg-4 col-md-5 mb-5 mt-5">
            <div class="card" style="width: 18rem;">
                <a href="/trips/{{id}}"> <img id="logo-maps" src="../../images/map-marker.png" class="card-img-top"
                        alt="{{username}} profile picture"> </a>
                <div class="card-body" id="card-trip">
                    <h5 class="card-title">From: {{origin.address}}</h5>
                    <h5 class="card-title">To: {{destination.address}}</h5>
                    <p class="card-text">Avalaible seats: {{numberOfPassengers}}</p>
                    <a href="/trips/{{id}}">View trip</a>
                    <a href="/trips/{{id}}/join" id=joinBtn class="btn btn-success">Join trip</a>
                </div>
            </div>
        </div> --}}
        <div class="col-xl-3 col-lg-4 col-md-5 mb-5 mt-5">
            <div class="cardTwo">

                <div class="card-imageTwo"><a href="/trips/{{id}}"><img src="./../../images/blablacar-wallpaper.jpg"
                            class="card-img-top" alt="{{username}} profile picture"></a> </div>
                <div class="category">Avalaible seats: {{numberOfPassengers}} </div>
                <div class="heading"> {{origin.address}} to {{destination.address}}
                    <div class="author"> <span class="name"><a class="a-button" href="/trips/{{id}}"> View Info
                            </a> </span>

                        <div class="author"> <span class="name"><a href="/trips/{{id}}/join" class="b-button"> Join Trip
                                </a> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{/if}}
        {{/each}}
        {{#if errorMessage}}
        <div id="errorMessageFull">
            <p id="errorMessageFullText">{{errorMessage}}</p>
            <a href="/trips" class="c-button">Go back</a>
        </div>
        {{/if}}
    </div>
</div>